<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cse110mb260t14.ffs">

    <!-- Facebook permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Camera permission -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="G6wgKXsfBYRhA5DV464SceRMkjgxEmMDh0SSs6nQ" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="FmJNKV6GpVbqTIHC1mkSjyuXmmTEePDH010Ieq7s" />

        <!-- Facebook meta-data -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Facebook Activity -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".SignedInActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_signed_in"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cse110mb260t14.ffs.LoginActivity" />
        </activity>
        <activity
            android:name=".DrawerMenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <intent-filter>
            <action android:name="android.intent.action.MAIN_ACTIVITY" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <activity
            android:name=".ProfileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".DrawerMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cse110mb260t14.ffs.DrawerMenuActivity" />
        </activity>
        <activity
            android:name=".CategoriesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_categories"
            android:parentActivityName=".DrawerMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cse110mb260t14.ffs.DrawerMenuActivity" />
        </activity>
        <activity
            android:name=".ListingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_listings"
            android:parentActivityName=".CategoriesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cse110mb260t14.ffs.CategoriesActivity" />
        </activity>
        <activity
            android:name=".TransactionHistoryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_transaction_history"
            android:parentActivityName=".DrawerMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cse110mb260t14.ffs.DrawerMenuActivity" />
        </activity>
        <activity
            android:name=".ConfirmItemListing"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".displayFullItem" />
        <activity
            android:name=".DisplayOffersPage"
            android:label="@string/title_activity_display_offers_page"
            android:theme="@style/AppTheme" />
        <activity android:name=".FullPageBuyer"></activity>
    </application>

</manifest>
